/* @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400"); */

@font-face {
  font-family: "cesko.digital";
  src: url("cesko.digital-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cesko.digital.mono";
  src: url("cesko.digital.mono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "cesko.digital", sans-serif;
  font-weight: 400;
  /* background-color: #333; */
  /* font-size: 0; */
}

h2 {
  margin-top: 2em;
}

p, table {
  font-size: 18px;
  color: rgb(71, 71, 91);
}

.latex {
  text-align: center;
}

.code-sample {
  font-size: 15px;
  width: 800px;
  margin: 0 auto;
  background-color: #22272ef0;
}

.code-sample .header {
  padding: 10px;
  background-color: #edccff;
  display: flex;
  justify-content: space-between;
}

.code-sample .header .filename {
  font-family: "cesko.digital.mono", monospace;
}

/* https://stackoverflow.com/a/29354766 */
.code-sample .code pre code span:empty:before {
  content: "\200b"; /* unicode zero width space character */
}

.code pre {
  margin: 0;
  padding: 1em 0;
  overflow: hidden;
}

h1 {
  font-size: 26px;
}

.line {
  /* font-family: 'cesko.digital.mono', monospace; */
  display: inline-block;
  width: 100%;
  padding-left: 1em;
}

.highlight-comma,
.highlight-special,
.highlight-keyword,
.highlight-operator,
.highlight-function,
.highlight-function-def,
.highlight-class-def {
  font-weight: 400;
}

.highlight-argument {
  font-style: italic;
}

.highlight-default,
.highlight-special,
.highlight-semicolon,
.highlight-comma {
  color: #ddd;
}

.highlight-keyword,
.highlight-operator,
.highlight-bracket {
  color: #ff6192;
}

.highlight-function,
.highlight-identifier,
.highlight-constant {
  /* color: #47a3ff; */
  color: #99b0b1;
}

.highlight-function-def,
.highlight-class-def {
  color: #61ffd3;
}

.highlight-argument {
  color: #ffbc61;
}

.highlight-string {
  color: #9aff76;
}

.highlight-number {
  color: #c049fe;
}

.highlight-comment {
  color: #777;
}

.highlight-parenthesis {
  color: #ffd500;
}

.highlight-func-call {
  /* color: #fda85d; */
  color: #47a3ff;
}

table {
  margin: 2em auto;
  border-collapse: collapse;
  border: 2px solid #444;
}

table td,
table th {
  padding: 0.5em 1.2em;
  text-align: center;
}

table thead tr {
  border-bottom: 1px solid #444;
}

table tbody tr {
  border-bottom: 1px dashed #444;
}
