/* @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400"); */

@font-face {
  font-family: 'cesko.digital';
  src: url('cesko.digital-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cesko.digital.mono';
  src: url('cesko.digital.mono-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'cesko.digital', sans-serif;
  font-weight: 400;
  /* background-color: #333; */
  /* font-size: 0; */
}

p {
  font-size: 18px;
  color: rgb(71, 71, 91);
}

.latex {
  text-align: center;
}

.code-sample {
  font-size: 15px;
  width: 800px;
  margin: 0 auto;
  background-color: #22272e;
}

.code-sample .header {
  padding: 10px;
  background-color: #edccff;
  display: flex;
  justify-content: space-between;
}

.code-sample .header .filename {
  font-family: 'cesko.digital.mono', monospace;
}

pre {
  margin: 0;
  padding: 1em 0;
}

h1 {
  font-size: 26px;
}

.line {
  /* font-family: 'cesko.digital.mono', monospace; */
  display: inline-block;
  width: 100%;
  padding-left: 1em;
}

.highlight-comma,
.highlight-special,
.highlight-keyword,
.highlight-operator,
.highlight-function,
.highlight-function-def,
.highlight-class-def {
  font-weight: 400;
}

.highlight-argument {
  font-style: italic;
}

.highlight-default,
.highlight-special,
.highlight-semicolon,
.highlight-comma {
  color: #ddd;
}

.highlight-keyword,
.highlight-operator {
  color: #ff6192;
}

.highlight-function,
.highlight-identifier {
  color: #47a3ff;
}

.highlight-function-def,
.highlight-class-def {
  color: #61ffd3;
}

.highlight-argument {
  color: #ffbc61;
}

.highlight-string {
  color: #9aff76;
}

.highlight-number {
  color: #c049fe;
}

.highlight-comment {
  color: #777;
}

.highlight-parenthesis {
  color: #82c0ff;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table td,
table th {
  padding: .3em 1em;
  text-align: center;
}

table thead tr {
  border-bottom: 1px solid black;
}